p {
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
}

#loading-page-main-div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #000;
  border-radius: 0.75rem;
  margin: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  width: 48px;
  height: 48px;
  border: 2px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}
.loader::after {
  border-color: #29797a;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#no-logs-statement {
  visibility: hidden;
}

#loading-statement {
  visibility: visible;
}
