:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #464646;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

a {
  background-color: #fff;
  padding: 10px;
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
  border-radius: 0.75rem;
}
a:hover {
  cursor: pointer;
  background-color: #222;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
