:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #464646;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

a {
  background-color: #464646;
  padding: 10px;
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
  border-radius: 20px;
}
a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
