header {
  background-color: #0f2d2e;
  width: 100%;
  text-align: center;
}
#header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

#header-nav {
  background-color: #29797a;
  font-size: 1.5rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-top: solid #000 5px;
}

#header-nav-button-container {
  display: flex;
  justify-content: space-around;
  min-width: auto;
}

.button-div {
  background-color: #000;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.75rem 1.2rem;
  text-align: center;
  width: auto;
  margin: 10px;
}
