.main-card-div {
  font-size: 1.25rem;
  margin-top: 5px;
  min-width: 300px;
}

.card-grid-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, 1fr);
}

.card-grid-container > div {
  background-color: #999;
  padding: 5px;
  border-top: 5px solid #777;
  border-right: 5px solid #777;
}

#notes-container-div {
  background-color: #ccc;
}

#subject-container-div {
  grid-column: 1;
  grid-row: 1;
}

#activity-duration-container-div {
  grid-column: 1;
  grid-row: 2;
}

#materials-container-div {
  grid-column: 1;
  grid-row: 3;
}

#notes-container-div {
  grid-column: 2;
  grid-row: 1 / 4;
}

#notes-list-item {
  height: 100%;
}

.expand-notes-btn {
  display: none;
}

@media (max-width: 768px) {
  .card-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

#delete-button {
  font-size: 1.1rem;
  padding: 55;
  margin: 0;
  border-radius: 0;
  min-width: 300px;
  background-color: #591e1e;
}
