.main-card-div {
  font-size: 1.5rem;
  margin-top: 5px;
  min-width: 300px;
  width: auto;
  padding: 5%;
}

ul div {
  background-color: #999;
  padding: 5px;
  border-top: 4px solid #777;
  border-right: 4px solid #777;
}

#notes-container-div {
  background-color: #ccc;
}

.main-card-div ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
}

.main-card-div ul {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

#subject-container-div {
  grid-column: 1;
  grid-row: 1;
}

#activity-duration-container-div {
  grid-column: 1;
  grid-row: 2;
}

#materials-container-div {
  grid-column: 1;
  grid-row: 3;
}

#notes-container-div {
  grid-column: 2;
  grid-row: 1 / 4;
}

#notes-list-item {
  height: 100%;
}

.expand-notes-btn {
  display: none;
}

@media (max-width: 768px) {
  .main-card-div ul {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  #subject-container-div {
    grid-column: 1;
    grid-row: 1;
  }

  #activity-duration-container-div {
    grid-column: 1;
    grid-row: 2;
  }

  #materials-container-div {
    grid-column: 1;
    grid-row: 3;
  }

  #notes-container-div {
    grid-column: 1;
    grid-row: 4;
  }
}
