#logpage-div {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: none;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 0.75rem;
  min-width: 275px;
  height: 100%;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
  padding: 5%;
  border-radius: 0.75rem;
  height: 50%;
  width: 50%;
  min-width: 275px;
}
