#homepage-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  background-image: url("/react-final-project/src/assets/homepage-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#homepage-text-container {
  color: white;
  margin: 5%;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.75rem;
  min-height: auto;
  padding: 5%;
}

 {
  color: white;
}
#homepage-text-container p {
  color: white;
}
