#homepage-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: none;
  background-image: url("/react-final-project/src/assets/homepage-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage-text-container {
  color: white;
  margin: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.75rem;
  min-height: auto;
  padding: 5%;
}

img {
  max-width: auto;
}

#homepage-div {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
